.news-page {
    &__main {
        padding: 80px;

        &__container {
            margin: 0 auto;
            width: 1110px;
        }

        &-title {
            padding-bottom: 40px;
            color: rgb(35 35 35);
            font-size: 36px;
            font-weight: 600;
        }

        &-text {
            padding-top: 40px;
            line-height: 20px;
            color: rgb(35 35 35);
            font-size: 16px;
            font-weight: 400;
        }

        &-data {
            padding-top: 40px;
            text-align: right;
            color: rgb(133 133 133);
            font-size: 16px;
        }
    }
}

@media (width <= 800px) {
    .news-page {
        &__main {
            padding: 40px 0 80px;

            &-text {
                line-height: 125%;
                font-size: 14px;
            }

            &__container {
                width: 330px;
            }

            &-title {
                line-height: 125%;
                font-size: 20px;
            }

            &-data {
                font-size: 12px;
            }

            img {
                width: 330px;
                height: 185px;
            }
        }
    }
}
