@import '../../styles/mixins';

.about-page {
    &__promo {
        position: relative;
        z-index: 1;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            background: rgba(0 0 0 / 50%);
            backdrop-filter: blur(3px);
            width: 100%;
            height: 100%;
            content: '';
            pointer-events: none;
        }

        &__container {
            display: flex;
            position: relative;
            flex-direction: column;
            z-index: 3;
            margin: 0 auto;
            padding-top: 124px;
            width: 1110px;
            height: 360px;
        }

        &-title {
            padding-bottom: 16px;
            width: 386px;
            line-height: 125%;
            color: #fff;
            font-size: 36px;
            font-weight: 600;

            span {
                color: rgb(83 198 64);
            }
        }

        &-pretitle {
            width: 386px;
            line-height: 120.48%;
            color: rgb(245 245 245);
            font-size: 22px;
        }
    }

    &__description {
        position: relative;
        padding-bottom: 80px;

        &__truck {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;

            &-wrapper {
                position: relative;
                height: 100%;

                &::before {
                    position: absolute;
                    top: 0;
                    left: -290px;
                    background: linear-gradient(
                        80deg,
                        rgb(255 255 255) 56.2%,
                        rgba(255 255 255 / 0%) 80%
                    );
                    width: 100%;
                    height: 100%;
                    content: '';
                    pointer-events: none;
                }
            }

            img {
                display: block;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 100%;
            }
        }

        &__container {
            margin: 0 auto;
            width: 1110px;
        }

        &-info {
            box-shadow: 28px 0 29.5px 0 rgb(255 255 255);
            padding-top: 80px;
            width: 540px;
        }

        &-title {
            text-transform: uppercase;
            font-size: 36px;
            font-weight: 600;

            span {
                color: rgb(83 198 64);
            }
        }

        &-text {
            line-height: 22px;
            font-size: 18px;
            font-weight: 500;

            span {
                color: rgb(20 145 0);
            }
        }

        &-wrapper {
            display: grid;
            gap: 32px;
        }
    }

    &__cards {
        position: relative;
        z-index: 1;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 310px;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            background: rgba(0 0 0 / 15%);
            backdrop-filter: blur(1px);
            width: 100%;
            height: 100%;
            content: '';
            pointer-events: none;
        }

        &__container {
            display: flex;
            align-items: center;
            margin: 0 auto;
            width: 1110px;
            height: 100%;
        }

        &-list {
            display: flex;
            gap: 30px;
            align-items: center;
        }
    }

    &__exp {
        padding-top: 80px;
        padding-bottom: 103px;

        &__container {
            margin: 0 auto;
            width: 1110px;
        }

        &-title {
            padding-bottom: 32px;
            text-transform: uppercase;
            color: rgb(35 35 35);
            font-size: 36px;
            font-weight: 600;

            span {
                color: rgb(83 198 64);
            }
        }

        &-info1 {
            display: flex;
            gap: 95px;
            color: rgb(35 35 35);

            &__text {
                padding-top: 25px;
                line-height: 20px;
                font-weight: 500;

                span {
                    color: rgb(20 145 0);
                    font-weight: 500;
                }
            }
        }

        &-info2 {
            display: flex;
            gap: 90px;
            align-items: center;
            padding-top: 80px;

            &__text {
                position: relative;
                padding-left: 35px;
                width: 541px;
                height: 119px;
                line-height: 20px;
                font-weight: 500;

                span {
                    color: rgb(20 145 0);
                    font-weight: 500;
                }
            }

            &__pointer {
                position: absolute;
                top: 50%;
                left: 0;
                background-color: rgb(83 198 64);
                width: 18px;
                height: 5px;
            }
        }

        &-info3 {
            display: flex;
            gap: 142px;
            align-items: center;
            padding-top: 130px;

            &__text {
                position: relative;
                padding-left: 35px;
                width: 541px;
                height: 119px;
                line-height: 20px;
                font-weight: 500;

                span {
                    color: rgb(20 145 0);
                    font-weight: 500;
                }
            }

            &__pointer {
                position: absolute;
                top: 50%;
                left: 0;
                background-color: rgb(83 198 64);
                width: 18px;
                height: 5px;
            }
        }
    }

    &__opp-promo {
        position: relative;
        z-index: 1;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            background: rgba(0 0 0 / 15%);
            backdrop-filter: blur(1px);
            width: 100%;
            height: 100%;
            content: '';
            pointer-events: none;
        }

        &__container {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin: 0 auto;
            padding: 36px 0;
            width: 1110px;
        }

        &__wrapper {
            display: grid;
            gap: 32px;
            border-radius: 15px;
            background: linear-gradient(
                135deg,
                rgba(221 221 221 / 42%) 0%,
                rgba(147 147 147 / 31%) 100%
            );
            backdrop-filter: blur(128px);
            padding: 36px 32px;
            width: 540px;
            height: 240px;
        }

        &__title {
            text-transform: uppercase;
            line-height: 125%;
            color: rgb(245 245 245);
            font-size: 36px;
            font-weight: 600;

            span {
                color: rgb(83 198 64);
            }
        }

        &__text {
            line-height: 22px;
            color: rgb(245 245 245);
            font-size: 18px;
            font-weight: 500;
        }
    }

    &__opp {
        padding: 80px 0 90px;

        &__container {
            display: grid;
            gap: 80px;
            margin: 0 auto;
            width: 1110px;
        }

        &-item {
            &__right {
                display: flex;
                position: relative;
                justify-content: flex-end;
                height: 110px;

                &::before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: repeating-linear-gradient(
                        to bottom,
                        rgb(83 198 64),
                        rgb(83 198 64) 11px,
                        transparent 11px,
                        transparent 22px
                    );
                    width: 5px;
                    height: 100%;
                    content: '';
                }

                &-pointer {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    background-color: rgb(83 198 64);
                    width: 18px;
                    height: 5px;
                }

                &-text {
                    padding-right: 40px;
                    width: 800px;
                    text-align: right;
                    line-height: 22px;
                    font-size: 18px;
                    font-weight: 400;

                    span {
                        color: rgb(20 145 0);
                        font-weight: 500;
                    }
                }
            }

            &__left {
                position: relative;
                height: 96px;

                &::after {
                    position: absolute;
                    top: 0;
                    right: 0;
                    background-image: linear-gradient(
                        to bottom,
                        rgb(83 198 64) 11px,
                        transparent 11px
                    );
                    background-size: 5px 22px; /* 11px green + 11px space */
                    width: 5px;
                    height: 115%;
                    content: '';
                }

                &-pointer {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    background-color: rgb(83 198 64);
                    width: 18px;
                    height: 5px;
                }

                &-text {
                    padding-left: 40px;
                    width: 751px;
                    line-height: 22px;
                    font-size: 18px;
                    font-weight: 400;

                    span {
                        color: rgb(20 145 0);
                        font-weight: 500;
                    }
                }
            }
        }
    }

    &__recommend {
        padding: 80px 0;

        &__container {
            margin: 0 auto;
            width: 1236px;
        }

        &-title {
            padding-bottom: 64px;
            text-align: center;
            color: rgb(35 35 35);
            font-size: 36px;
            font-weight: 600;
        }

        &-wrapper {
            display: flex;
            gap: 90px;
            margin-bottom: 64px;
            height: 300px;
        }

        &-item {
            position: relative;
            width: 235px;
            height: 100%;
        }

        &-doc {
            position: absolute;
            top: 0;
            left: 0;
        }

        &-logo {
            position: absolute;
            right: 0;
            bottom: 0;
        }

        &-button {
            @include green-button;

            gap: 8px;
            margin: 0 auto;
            padding: 11.5px 22px;
            font-weight: 600;
        }
    }
}

@media (width <= 800px) {
    .about-page {
        &__recommend {
            padding: 40px 0;

            &-title {
                padding-bottom: 24px;
                color: rgb(35 35 35);
                font-size: 20px;
            }

            &__container {
                width: 330px;
            }

            &-button {
                margin-top: 40px;
                width: 200px;
                font-size: 14px;
                font-weight: 500;
            }
        }

        &__opp {
            padding: 0;

            &__container {
                gap: 40px;
                padding: 40px 0;
                width: 330px;
            }

            &-text {
                display: flex;
                gap: 8px;
                align-items: center;
                justify-content: center;

                &-right {
                    display: flex;
                    gap: 8px;
                    align-items: center;
                    justify-content: center;
                }

                &__pointer {
                    background-color: rgb(83 198 64);
                    width: 12px;
                    height: 4px;

                    &-right {
                        order: 2;
                        background-color: rgb(83 198 64);
                        width: 12px;
                        height: 4px;
                    }
                }

                &__content {
                    width: 308px;
                    font-size: 16px;
                    font-weight: 500;

                    span {
                        color: rgb(20 145 0);
                    }
                }
            }
        }

        &__opp-promo {
            &__container {
                width: 330px;
            }

            &__wrapper {
                display: block;
                padding: 16px;
                width: 328px;
                height: 152px;
            }

            &__text {
                line-height: 125%;
                font-size: 14px;
            }

            &__title {
                padding-bottom: 16px;
                line-height: 125%;
                font-size: 20px;
            }
        }

        &__promo {
            &__container {
                display: block;
                width: 330px;
            }

            &-title {
                width: auto;
                font-size: 20px;
            }

            &-pretitle {
                width: 256px;
                font-size: 16px;
            }
        }

        &__exp {
            padding: 40px 0;

            &__container {
                width: 330px;
            }

            &-title {
                padding-bottom: 16px;
                font-size: 20px;
                font-weight: 600;

                br {
                    display: none;
                }
            }

            &-info3 {
                padding-top: 0;

                &__image {
                    width: 292px;
                    height: 125px;
                }

                &__text {
                    padding: 0;
                    padding-top: 40px;
                    width: auto;
                    height: auto;
                    font-size: 14px;
                    font-weight: 400;

                    span {
                        font-weight: 400;
                    }
                }

                &__pointer {
                    display: none;
                }
            }

            &-info2 {
                padding-top: 32px;

                &__image {
                    width: 328px;
                    height: 184px;
                }

                &__text {
                    padding: 0;
                    padding-top: 32px;
                    padding-bottom: 40px;
                    width: auto;
                    height: auto;
                    font-size: 14px;
                    font-weight: 400;
                }

                &__pointer {
                    display: none;
                }
            }

            &-info1 {
                &__image {
                    display: block;
                    width: 100%;
                    height: 184px;
                }

                &__text {
                    padding-top: 32px;
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }

        &__cards {
            padding: 40px 0;
            height: auto;

            &__container {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 330px;
            }

            &-list {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 0 auto;
            }
        }

        &__description {
            padding-bottom: 40px;

            &__container {
                width: 330px;
            }

            &__truck {
                display: none;
            }

            &-info {
                padding-top: 40px;
                width: auto;
            }

            &-text {
                line-height: 125%;
                font-size: 14px;
                font-weight: 400;
            }

            &-title {
                font-size: 20px;

                br {
                    display: none;
                }
            }
        }
    }
}
