/* stylelint-disable no-duplicate-selectors */
@import '../../styles/mixins';

.services-list {
    padding: 80px 0;
    min-height: 800px;

    &__container {
        margin: 0 auto;
        width: 1110px;
    }

    &-button {
        @include green-button;

        width: 410px;
        height: 42px;
    }

    &-title {
        color: rgb(35 35 35);
        font-size: 36px;
        font-weight: 600;
    }

    &-wrapper {
        display: flex;
        gap: 65px;
        padding-top: 40px;
    }

    &-items {
        display: flex;
        flex-direction: column;
        gap: 15px;
        border-right: 1px solid rgb(20 145 0);
        padding-right: 16px;
        height: max-content;
    }

    &-item {
        cursor: pointer;
        width: 270px;
        color: rgb(133 133 133);
        font-weight: 500;

        &.selected {
            color: rgb(35 35 35);
        }
    }

    &-info {
        color: rgb(35 35 35);

        &__title {
            padding-bottom: 16px;
            color: rgb(20 145 0);
            font-size: 24px;
            font-weight: 500;

            &.widened {
                padding-bottom: 50px;
            }
        }

        &__image {
            display: block;
            margin-bottom: 50px;
        }

        &__text {
            padding-bottom: 40px;
            line-height: 20px;

            span {
                color: rgb(20 145 0);
                font-weight: 500;
            }

            ul {
                display: grid;
                gap: 20px;
                padding-bottom: 32px;
                padding-left: 10px;
                list-style: none;

                li {
                    position: relative; /* Относительное позиционирование для псевдоэлемента */
                    padding-left: 1em; /* Отступ для маркера */
                    font-size: 1em; /* Размер текста элементов списка */
                }

                li::before {
                    position: absolute;
                    left: 0;
                    line-height: 1;
                    color: black; /* Цвет маркера */
                    font-size: 1rem; /* Регулируйте размер точки */
                    content: '\2022'; /* Unicode для круглой точки */
                }
            }

            &-bold {
                font-weight: 500;
            }
        }
    }
}

@media (width <= 800px) {
    .services-list {
        padding: 16px 0 80px;

        &__container {
            width: 330px;
        }

        &-wrapper {
            display: block;
            padding: 0;
        }

        &-button {
            @include green-button;

            gap: 3px;
            padding: 7.5px;
            width: 100%;
            height: 40px;
            font-size: 14px;
        }

        &-info {
            &__image {
                display: block;
                width: 328px;
                height: 184px;
            }

            &__text {
                padding-bottom: 32px;
                font-size: 14px;

                ul {
                    padding: 0;
                }
            }

            &__title {
                padding-top: 16px;
                padding-bottom: 24px;
                color: rgb(35 35 35);
                font-size: 20px;
                font-weight: 600;

                &.widened {
                    padding-top: 16px;
                    padding-bottom: 24px;
                }
            }

            &__image {
                margin-bottom: 24px;
            }
        }

        &-select {
            appearance: none;
            outline: none;
            border: 0;
            background-color: transparent;
            padding: 11px 16px;
            width: 100%;
            line-height: 20px;
            color: rgb(35 35 35);
            font-size: 16px;
            font-weight: 500;

            option {
                height: 255px;
                white-space: pre-wrap;

                &:active {
                    background-color: rgb(83 198 64);
                }
            }
        }
    }
}
